{
    "presets": [
        ["blueflag", {"browser": true, "library": true}]
    ],
    "ignore": [
        "./lib",
        "./example",
        "**/*-test.js"
    ],
    "env": {
        "test": {
            "plugins": [
                "istanbul"
            ]
        },
        "production": {
            "plugins": [
                ["proto-babel-plugin-extract-flow-types", {"outDir": "lib"}]
            ]
        }
    }
}
