*.env.yml
*.mdx

dist
build
.env
.DS_Store
.bundle
node_modules
.nyc_output
coverage
tmp.config.json
stats.json
*.orig
**/.idea/workspace.xml
**/.idea/tasks.xml
*.log
*.un~
tags
tags.lock
yalc.lock
tags.temp
vendor
lib
.yalc
.cache
yarn-error.log
.serverless
flow-coverage
packages/bigdatr-auth/dev-certs/cert.pem
packages/bigdatr-auth/dev-certs/key.pem
version.json
.webpack
taskell.md
.vscode
.idea
.history
.eslintcache
