@import '~bruce/bruce';
@include BruceReset;
@include BruceBoxSizing;
@import '~obtuse/lib/all';
@include ObtuseConfig;


@include ObtuseBase;
// @include ObtuseBase;
@include ObtuseLink;
@include ObtuseTable;
@include ObtuseText {
    &-definition {
        background-color: grey(94);
        padding: 1rem;
    }
};
@include ObtuseTypography;
@include ObtuseWrapper;

body {
    padding: 2rem;
}

.Navigation {


    @include BruceBreakpoint(72rem) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 2rem;
    }
}

.Code {
    background-color: grey(90);
    padding: 1rem;
    margin: 2rem 0;
    white-space: pre;
    background-color: #333;
    color: #e6e6e6;
}

.gatsby-highlight pre > code {
    background-color: grey(90);
    padding: 1rem;
    margin: 2rem 0;
    white-space: pre;
    background-color: #333;
    color: #e6e6e6;

    &:after {
        content: '';
    }
}

/*
Code Highlighting
blue        #6CA6CE
green       #86C797
yellow      #E1AE69
orange      #E1865A
white       #e6e6e6
comment     #6D6D6D
red         #C55B4E
 */

/* Red */
.token.keyword {color: #C55B4E;}

/* Yellow */
.token.tag {color: #E1AE69;}

/* Green */
.token.string {color: #86C797;}

/* Blue */
.token.number {color: #6CA6CE;}
.token.boolean {color: #6CA6CE;}


.token.comment {color: #6D6D6D;}
