# enty

Redux Blue Flag is a complete [Redux] setup for asynchronous data calls that uses [Normalizr] schemas to handle all client side data management.

# Benefits

```jsx
export default entitiyQuery(props => `
    query {
        characters {
            name
            age
            race
        }
    }
`)(({characters}) => {
    return <ul>{characters.map(({name, age, race}, key) => {
        return <li key={key}>
            <div>{name}</div>
            <div>{age}</div>
            <div>{race}</div>
        </li>;
    })}</ul>
})
```

## Install

```
npm install --save enty
```

## Index
* Creators
    * createEntityReducer
    * createEntityProvider????
    * createEntityQuery
    * createRequestAction
    * createRequestActionSet
    * createSchema ??
* Selectors
    * selectEntity
    * selectEntityByPath
    * selectRequestState
* Misc
    * connectWithQuery
    * logRequestActionNames


[Redux]: https://github.com/reactjs/redux
[Normalizr]: https://github.com/paularmstrong/normalizr

{{>main}}

